#home-container {
    height: 100vh;
    text-align: center;

    background: hsla(197, 34%, 75%, 1);

    background: linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);
}

#search-and-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: auto;
}

.banner-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.banner-logo {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    padding: 1rem;
}

.banner-text {
    font-size: 5rem;
    line-height: 2;
    font-family: IBM Plex Serif;
    color: #0D3449;
    text-shadow: 2px 2px 2px black;

    // color: white;
    // text-shadow: 2px 2px 2px #0D3449;
}

#event-container {
    height: 70%;
}