#home-container {

    height: 100vh;
    text-align: center;

}

#search-and-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

background: hsla(0, 0%, 100%, 1);

background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(197, 78%, 30%, 1) 83%);

background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(197, 78%, 30%, 1) 83%);

background: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(197, 78%, 30%, 1) 83%);
}

.banner-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;

}

.banner-logo {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.banner-text {
    font-size: 5rem;
    line-height: 2;
}