<div id="home-container" class="screen-container">
    <div id="search-and-banner">
        <div class="banner-container">
            <img class="banner-logo" ngSrc="assets/images/disaster-fixers-logo-transparent-cropped.png" width="200"
                height="200" alt="Disaster Fixers Logo" priority />

            <span class="banner-text">
                Disaster Fixers
            </span>
        </div>

        <div>
            <app-search></app-search>
        </div>
    </div>

    <div id="event-container">
        <app-disaster-list></app-disaster-list>
    </div>
</div>