<div class="searchContainer">
    <p-toast position="top-right" />
    <form class="searchForm" [formGroup]="searchForm">
        <div class="searchBar">
            <input id="locationSearch" type="text" placeholder="Enter an address, city, or zip code" pInputText
                formControlName="searchBar" />
            <div>
                <button pButton pRipple id="searchButton" class="searchButton" icon="pi pi-search" severity="success"
                    (click)="handleSearch()">
                    Search
                </button>
            </div>
        </div>

        <div class="searchCriteria">
            <div class="criteria">
                <p-floatlabel>
                    <label for="radiusPickSlider">Radius: {{searchForm.get('radiusPick')?.value || 0}} miles</label>
                </p-floatlabel>
                <p-slider id="radiusPickSlider" formControlName="radiusPick" min="10" max="200" step="10" />

            </div>

            <div class="criteria">
                <p-floatlabel>
                    <label for="disasterType">Disaster Type: </label>
                    <p-multiSelect #disasterSelect id="disasterType" [options]="DISASTER_TYPES"
                        formControlName="disasterType" filter="false">
                    </p-multiSelect>
                </p-floatlabel>
            </div>

            <div class="criteria">
                <p-floatlabel>
                    <label for="date">Date: </label>
                    <p-datePicker id="date" formControlName="dateRange" [showIcon]="true" selectionMode="range">
                    </p-datePicker>
                </p-floatlabel>
            </div>
        </div>

    </form>
</div>