@import "primeicons/primeicons.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen-container {
  background: hsla(197, 34%, 75%, 1);

  background: linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);

  background: -moz-linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);

  background: -webkit-linear-gradient(270deg, hsla(197, 34%, 75%, 1) 0%, hsla(197, 78%, 30%, 1) 100%);
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

body .p-card {
  background: #7FADC0;
  outline: 2px solid #A7C7D4;
}

body .p-card h1 {
  color: #0D3449;
  text-shadow: 2px 2px 2px #A7C7D4;
}

body .p-card h2 {
  color: white;
  text-shadow: 2px 2px 2px #A7C7D4;
}